*.pyc
/.settings
/.project
/.pydevproject
/.idea
/.directory
/nbproject
/.externalToolBuilders/
/mobile/static/resources/sass/.sass-cache/*
/web/static/test/.sass-cache/
/web/static/.sass-cache/
/settings.py
/settings_price.py
/settings_vzabote.py
/price.wsgi
/vzabote.wsgi
/templates/static
price/web/static/.sass-cache/
vzabote/web/static/.sass-cache/
vzabote/web/static/config/
settings/personal.py
/stations/*
/stations
